@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap");
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.link {
  color: #1976d2;
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.Loglink,
.Reglink,
.homeLink {
  text-decoration: none;
  padding: 5px;
  font-size: 1.5rem;
}
.Loglink:visited {
  color: #ffffff;
}
.Reglink:visited {
  color: #ffffff;
}
.homeLink:visited {
  color: #ffffff;
}
.login {
  font-family: "Inter", sans-serif;
}
.homeButtons {
  text-decoration: none;
}
